@using Services

@inherits LayoutComponentBase

@inject TooltipService TooltipService
@inject ThemeService ThemeService
@inject ConsoleService ConsoleService
@inject NavigationManager Navigation
@inject AppService AppService
@inject IJSRuntime JSRuntime

<RadzenLayout Style="grid-template-areas: 'rz-header rz-header' 'rz-sidebar rz-body' 'rz-sidebar rz-footer'">
    <RadzenHeader>
        <div class="header-wrapper">
            <div>
                @if (isDark)
                {
                    <svg width="128" height="34" viewBox="0 0 315 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1319_13)">
                            <path d="M95.5 37.0401V20.8701C95.5 19.8501 96.24 19.1001 97.52 19.1001C98.52 19.1001 99.26 19.8401 99.26 20.8701V27.0801H108.54V20.8701C108.54 19.8501 109.45 19.1001 110.48 19.1001C111.51 19.1001 112.25 19.8401 112.25 20.8701V37.0401C112.25 38.0401 111.48 38.8101 110.48 38.8101C109.48 38.8101 108.54 38.0401 108.54 37.0401V30.8001H99.26V37.0401C99.26 38.0401 98.52 38.8101 97.52 38.8101C96.24 38.8101 95.5 38.0401 95.5 37.0401Z" fill="white" />
                            <path d="M120.64 38.8102C119.73 38.3002 119.16 37.2702 119.73 36.0802L127.9 20.1102C128.67 18.6002 130.72 18.5402 131.43 20.1102L139.46 36.0802C140.63 38.3002 137.18 40.0702 136.16 37.8502L134.91 35.3402H124.4L123.18 37.8502C122.72 38.8202 121.67 39.0202 120.65 38.8202L120.64 38.8102ZM129.67 24.5402L126.17 31.5702H132.89L129.67 24.5402Z" fill="white" />
                            <path d="M146.89 37.0101V20.8401C146.89 19.8401 147.66 19.1001 148.6 19.1001H156.17C163.4 19.1001 164.88 28.7801 158.85 31.2001L162.64 35.8101C164.12 38.0001 161.16 40.1101 159.45 37.9501L155.15 31.8001H150.68V36.9501C150.68 39.4301 146.89 39.5101 146.89 37.0101ZM156.17 28.5301C159.87 28.5301 160.1 22.5501 156.17 22.5501H150.67V28.5301H156.17Z" fill="white" />
                            <path d="M170.98 37.0401V20.8701C170.98 19.8501 172 19.1001 172.94 19.1001H179.46C192.47 19.1001 192.19 38.8001 179.72 38.8001H172.94C172 38.8001 170.98 38.2901 170.98 37.0301V37.0401ZM174.74 35.3401H179.47C187.16 35.3401 187.5 22.5801 179.47 22.5801H174.74V35.3401Z" fill="white" />
                            <path d="M217.22 32.0004L221.46 20.2704C222.31 17.9604 225.76 19.0504 224.91 21.5204L219.27 36.8104C218.76 38.4304 218.27 38.9204 217.31 38.9204C216.29 38.9204 215.97 38.2904 215.4 37.2704L210.45 26.0204L205.72 37.1004C205.21 38.3004 204.72 38.9804 203.7 38.9804C202.68 38.9804 202.19 38.3004 201.74 37.0404L196.22 21.5204C195.37 18.9604 198.98 18.0204 199.72 20.2704L203.93 32.0004L208.97 20.2704C209.65 18.5304 211.45 18.4504 212.19 20.1804L217.23 32.0004H217.22Z" fill="white" />
                            <path d="M230.71 38.8102C229.8 38.3002 229.23 37.2702 229.8 36.0802L237.97 20.1102C238.74 18.6002 240.79 18.5402 241.5 20.1102L249.53 36.0802C250.7 38.3002 247.25 40.0702 246.23 37.8502L244.98 35.3402H234.47L233.25 37.8502C232.79 38.8202 231.74 39.0202 230.72 38.8202L230.71 38.8102ZM239.73 24.5402L236.23 31.5702H242.95L239.73 24.5402Z" fill="white" />
                            <path d="M256.96 37.0101V20.8401C256.96 19.8401 257.73 19.1001 258.67 19.1001H266.24C273.47 19.1001 274.95 28.7801 268.92 31.2001L272.71 35.8101C274.19 38.0001 271.23 40.1101 269.52 37.9501L265.22 31.8001H260.75V36.9501C260.75 39.4301 256.96 39.5101 256.96 37.0101ZM266.24 28.5301C269.94 28.5301 270.17 22.5501 266.24 22.5501H260.74V28.5301H266.24Z" fill="white" />
                            <path d="M281.24 20.8102C281.24 18.4802 285 18.3902 285 20.8102V37.0702C285 39.4302 281.24 39.4902 281.24 37.0702V20.8102Z" fill="white" />
                            <path d="M304.08 39.0901C298.81 39.3201 293.35 35.8201 293.35 28.8401C293.35 21.8601 298.82 18.3901 304.08 18.3901C309.06 18.6501 314.27 22.0901 314.27 28.8401C314.27 35.5901 309.06 39.0901 304.08 39.0901ZM303.76 22.1001C300.57 22.1001 297.1 24.3501 297.1 28.8501C297.1 33.3501 300.57 35.6001 303.76 35.6001C306.95 35.6001 310.54 33.3201 310.54 28.8501C310.54 24.3801 307.04 22.1001 303.76 22.1001Z" fill="white" />
                            <path d="M99.26 56.0303V66.5603C99.26 67.8103 98.24 68.5203 97.21 68.5203C96.3 68.5203 95.5 67.8103 95.5 66.5603V50.5303C95.5 49.0503 96.75 48.5703 97.21 48.5703C98.04 48.5703 98.52 49.0503 99 49.5903L105.26 58.0503L111.75 49.2803C112.69 48.1103 115 48.5703 115 50.5303V66.5603C115 67.8103 114.2 68.5203 113.29 68.5203C112.26 68.5203 111.47 67.8103 111.47 66.5603V56.0303L106.74 62.0103C105.71 63.2603 104.43 63.2603 103.49 62.0103L99.25 56.0303H99.26Z" fill="white" />
                            <path d="M133.83 68.8201C128.56 69.0501 123.1 65.5501 123.1 58.5701C123.1 51.5901 128.57 48.1201 133.83 48.1201C138.81 48.3801 144.02 51.8201 144.02 58.5701C144.02 65.3201 138.81 68.8201 133.83 68.8201ZM133.51 51.8201C130.32 51.8201 126.85 54.0701 126.85 58.5701C126.85 63.0701 130.32 65.3201 133.51 65.3201C136.7 65.3201 140.29 63.0401 140.29 58.5701C140.29 54.1001 136.79 51.8201 133.51 51.8201Z" fill="white" />
                            <path d="M152.36 50.8201C152.36 49.7901 152.59 48.8001 154.07 48.8001C155.09 48.8001 155.32 49.0601 156.09 49.8001L165.51 61.5901V50.5401C165.51 49.6001 166.34 48.5801 167.3 48.5801C168.33 48.5801 169.32 49.6001 169.32 50.5401V66.5701C169.32 67.8201 168.55 68.3101 167.81 68.5301C166.81 68.5301 166.33 68.3001 165.5 67.5301L156.08 55.5701V66.5601C156.08 67.8101 155.31 68.5201 154.29 68.5201C153.27 68.5201 152.35 67.8101 152.35 66.5601V50.8101L152.36 50.8201Z" fill="white" />
                            <path d="M178.32 50.5402C178.32 48.2102 182.08 48.1202 182.08 50.5402V66.8002C182.08 69.1602 178.32 69.2202 178.32 66.8002V50.5402Z" fill="white" />
                            <path d="M196.49 52.39H191.51C189.03 52.39 189.03 48.75 191.51 48.75H204.98C207.51 48.75 207.51 52.39 204.98 52.39H200.25V66.77C200.25 69.25 196.49 69.3 196.49 66.77V52.39Z" fill="white" />
                            <path d="M223.34 68.8201C218.07 69.0501 212.61 65.5501 212.61 58.5701C212.61 51.5901 218.08 48.1201 223.34 48.1201C228.32 48.3801 233.53 51.8201 233.53 58.5701C233.53 65.3201 228.32 68.8201 223.34 68.8201ZM223.02 51.8201C219.83 51.8201 216.36 54.0701 216.36 58.5701C216.36 63.0701 219.83 65.3201 223.02 65.3201C226.21 65.3201 229.8 63.0401 229.8 58.5701C229.8 54.1001 226.3 51.8201 223.02 51.8201Z" fill="white" />
                            <path d="M241.84 66.7401V50.5701C241.84 49.5701 242.61 48.8301 243.55 48.8301H251.12C258.35 48.8301 259.83 58.5101 253.8 60.9301L257.59 65.5401C259.07 67.7301 256.11 69.8401 254.4 67.6801L250.1 61.5301H245.63V66.6801C245.63 69.1601 241.84 69.2401 241.84 66.7401ZM251.12 58.2501C254.82 58.2501 255.05 52.2701 251.12 52.2701H245.62V58.2501H251.12Z" fill="white" />
                            <path d="M7.88 0C3.53 0 0 3.53 0 7.88C0 11.21 2.11 14.18 5.25 15.29V35.01C5.25 36.46 6.43 37.64 7.88 37.64C8.15 37.64 8.43 37.6 8.69 37.51L28.77 31.03C30.25 32.98 32.56 34.13 35.01 34.13C39.36 34.13 42.89 30.6 42.89 26.25C42.89 21.9 39.36 18.37 35.01 18.37C30.75 18.37 27.27 21.77 27.15 26.02L10.51 31.39V15.28C13.65 14.17 15.75 11.2 15.76 7.87C15.75 3.53 12.23 0 7.88 0Z" fill="white" />
                            <path d="M62.1399 87.5199C66.4899 87.5199 70.0199 83.9899 70.0199 79.6399C70.0199 76.3099 67.9099 73.3399 64.7699 72.2299V52.5099C64.7699 51.0599 63.5899 49.8799 62.1399 49.8799C61.8699 49.8799 61.5899 49.9199 61.3299 50.0099L41.2499 56.4899C39.7699 54.5399 37.4599 53.3899 35.0099 53.3899C30.6599 53.3899 27.1299 56.9199 27.1299 61.2699C27.1299 65.6199 30.6599 69.1499 35.0099 69.1499C39.2699 69.1499 42.7499 65.7499 42.8699 61.4999L59.5099 56.1299V72.2499C56.3699 73.3599 54.2699 76.3299 54.2599 79.6599C54.2599 84.0099 57.7899 87.5399 62.1399 87.5399V87.5199Z" fill="white" />
                            <path d="M62.14 0C57.79 0 54.26 3.53 54.26 7.88C54.26 11.22 56.37 14.19 59.51 15.3V33.1L7.07 50.01C5.99 50.36 5.25 51.37 5.25 52.51V72.22C2.1 73.33 0 76.3 0 79.64C0 83.99 3.53 87.52 7.88 87.52C12.23 87.52 15.76 83.99 15.76 79.64C15.76 76.3 13.66 73.33 10.51 72.22V54.43L62.95 37.51C64.03 37.16 64.77 36.15 64.77 35.02V15.3C67.91 14.19 70.02 11.22 70.02 7.88C70.02 3.53 66.49 0 62.14 0Z" fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1319_13">
                                <rect width="314.27" height="87.52" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                }
                else 
                {
                    <svg width="128" height="34" viewBox="0 0 315 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1324_41)">
                            <path d="M95.5 37.0401V20.8701C95.5 19.8501 96.24 19.1001 97.52 19.1001C98.52 19.1001 99.26 19.8401 99.26 20.8701V27.0801H108.54V20.8701C108.54 19.8501 109.45 19.1001 110.48 19.1001C111.51 19.1001 112.25 19.8401 112.25 20.8701V37.0401C112.25 38.0401 111.48 38.8101 110.48 38.8101C109.48 38.8101 108.54 38.0401 108.54 37.0401V30.8001H99.26V37.0401C99.26 38.0401 98.52 38.8101 97.52 38.8101C96.24 38.8101 95.5 38.0401 95.5 37.0401Z" fill="#252532" />
                            <path d="M120.64 38.8102C119.73 38.3002 119.16 37.2702 119.73 36.0802L127.9 20.1102C128.67 18.6002 130.72 18.5402 131.43 20.1102L139.46 36.0802C140.63 38.3002 137.18 40.0702 136.16 37.8502L134.91 35.3402H124.4L123.18 37.8502C122.72 38.8202 121.67 39.0202 120.65 38.8202L120.64 38.8102ZM129.67 24.5402L126.17 31.5702H132.89L129.67 24.5402Z" fill="#252532" />
                            <path d="M146.89 37.0101V20.8401C146.89 19.8401 147.66 19.1001 148.6 19.1001H156.17C163.4 19.1001 164.88 28.7801 158.85 31.2001L162.64 35.8101C164.12 38.0001 161.16 40.1101 159.45 37.9501L155.15 31.8001H150.68V36.9501C150.68 39.4301 146.89 39.5101 146.89 37.0101ZM156.17 28.5301C159.87 28.5301 160.1 22.5501 156.17 22.5501H150.67V28.5301H156.17Z" fill="#252532" />
                            <path d="M170.98 37.0401V20.8701C170.98 19.8501 172 19.1001 172.94 19.1001H179.46C192.47 19.1001 192.19 38.8001 179.72 38.8001H172.94C172 38.8001 170.98 38.2901 170.98 37.0301V37.0401ZM174.74 35.3401H179.47C187.16 35.3401 187.5 22.5801 179.47 22.5801H174.74V35.3401Z" fill="#252532" />
                            <path d="M217.22 32.0004L221.46 20.2704C222.31 17.9604 225.76 19.0504 224.91 21.5204L219.27 36.8104C218.76 38.4304 218.27 38.9204 217.31 38.9204C216.29 38.9204 215.97 38.2904 215.4 37.2704L210.45 26.0204L205.72 37.1004C205.21 38.3004 204.72 38.9804 203.7 38.9804C202.68 38.9804 202.19 38.3004 201.74 37.0404L196.22 21.5204C195.37 18.9604 198.98 18.0204 199.72 20.2704L203.93 32.0004L208.97 20.2704C209.65 18.5304 211.45 18.4504 212.19 20.1804L217.23 32.0004H217.22Z" fill="#252532" />
                            <path d="M230.71 38.8102C229.8 38.3002 229.23 37.2702 229.8 36.0802L237.97 20.1102C238.74 18.6002 240.79 18.5402 241.5 20.1102L249.53 36.0802C250.7 38.3002 247.25 40.0702 246.23 37.8502L244.98 35.3402H234.47L233.25 37.8502C232.79 38.8202 231.74 39.0202 230.72 38.8202L230.71 38.8102ZM239.73 24.5402L236.23 31.5702H242.95L239.73 24.5402Z" fill="#252532" />
                            <path d="M256.96 37.0101V20.8401C256.96 19.8401 257.73 19.1001 258.67 19.1001H266.24C273.47 19.1001 274.95 28.7801 268.92 31.2001L272.71 35.8101C274.19 38.0001 271.23 40.1101 269.52 37.9501L265.22 31.8001H260.75V36.9501C260.75 39.4301 256.96 39.5101 256.96 37.0101ZM266.24 28.5301C269.94 28.5301 270.17 22.5501 266.24 22.5501H260.74V28.5301H266.24Z" fill="#252532" />
                            <path d="M281.24 20.8102C281.24 18.4802 285 18.3902 285 20.8102V37.0702C285 39.4302 281.24 39.4902 281.24 37.0702V20.8102Z" fill="#252532" />
                            <path d="M304.08 39.0901C298.81 39.3201 293.35 35.8201 293.35 28.8401C293.35 21.8601 298.82 18.3901 304.08 18.3901C309.06 18.6501 314.27 22.0901 314.27 28.8401C314.27 35.5901 309.06 39.0901 304.08 39.0901ZM303.76 22.1001C300.57 22.1001 297.1 24.3501 297.1 28.8501C297.1 33.3501 300.57 35.6001 303.76 35.6001C306.95 35.6001 310.54 33.3201 310.54 28.8501C310.54 24.3801 307.04 22.1001 303.76 22.1001Z" fill="#252532" />
                            <path d="M99.26 56.0303V66.5603C99.26 67.8103 98.24 68.5203 97.21 68.5203C96.3 68.5203 95.5 67.8103 95.5 66.5603V50.5303C95.5 49.0503 96.75 48.5703 97.21 48.5703C98.04 48.5703 98.52 49.0503 99 49.5903L105.26 58.0503L111.75 49.2803C112.69 48.1103 115 48.5703 115 50.5303V66.5603C115 67.8103 114.2 68.5203 113.29 68.5203C112.26 68.5203 111.47 67.8103 111.47 66.5603V56.0303L106.74 62.0103C105.71 63.2603 104.43 63.2603 103.49 62.0103L99.25 56.0303H99.26Z" fill="#252532" />
                            <path d="M133.83 68.8201C128.56 69.0501 123.1 65.5501 123.1 58.5701C123.1 51.5901 128.57 48.1201 133.83 48.1201C138.81 48.3801 144.02 51.8201 144.02 58.5701C144.02 65.3201 138.81 68.8201 133.83 68.8201ZM133.51 51.8201C130.32 51.8201 126.85 54.0701 126.85 58.5701C126.85 63.0701 130.32 65.3201 133.51 65.3201C136.7 65.3201 140.29 63.0401 140.29 58.5701C140.29 54.1001 136.79 51.8201 133.51 51.8201Z" fill="#252532" />
                            <path d="M152.36 50.8201C152.36 49.7901 152.59 48.8001 154.07 48.8001C155.09 48.8001 155.32 49.0601 156.09 49.8001L165.51 61.5901V50.5401C165.51 49.6001 166.34 48.5801 167.3 48.5801C168.33 48.5801 169.32 49.6001 169.32 50.5401V66.5701C169.32 67.8201 168.55 68.3101 167.81 68.5301C166.81 68.5301 166.33 68.3001 165.5 67.5301L156.08 55.5701V66.5601C156.08 67.8101 155.31 68.5201 154.29 68.5201C153.27 68.5201 152.35 67.8101 152.35 66.5601V50.8101L152.36 50.8201Z" fill="#252532" />
                            <path d="M178.32 50.5402C178.32 48.2102 182.08 48.1202 182.08 50.5402V66.8002C182.08 69.1602 178.32 69.2202 178.32 66.8002V50.5402Z" fill="#252532" />
                            <path d="M196.49 52.39H191.51C189.03 52.39 189.03 48.75 191.51 48.75H204.98C207.51 48.75 207.51 52.39 204.98 52.39H200.25V66.77C200.25 69.25 196.49 69.3 196.49 66.77V52.39Z" fill="#252532" />
                            <path d="M223.34 68.8201C218.07 69.0501 212.61 65.5501 212.61 58.5701C212.61 51.5901 218.08 48.1201 223.34 48.1201C228.32 48.3801 233.53 51.8201 233.53 58.5701C233.53 65.3201 228.32 68.8201 223.34 68.8201ZM223.02 51.8201C219.83 51.8201 216.36 54.0701 216.36 58.5701C216.36 63.0701 219.83 65.3201 223.02 65.3201C226.21 65.3201 229.8 63.0401 229.8 58.5701C229.8 54.1001 226.3 51.8201 223.02 51.8201Z" fill="#252532" />
                            <path d="M241.84 66.7401V50.5701C241.84 49.5701 242.61 48.8301 243.55 48.8301H251.12C258.35 48.8301 259.83 58.5101 253.8 60.9301L257.59 65.5401C259.07 67.7301 256.11 69.8401 254.4 67.6801L250.1 61.5301H245.63V66.6801C245.63 69.1601 241.84 69.2401 241.84 66.7401ZM251.12 58.2501C254.82 58.2501 255.05 52.2701 251.12 52.2701H245.62V58.2501H251.12Z" fill="#252532" />
                            <path d="M7.88 0C3.53 0 0 3.53 0 7.88C0 11.21 2.11 14.18 5.25 15.29V35.01C5.25 36.46 6.43 37.64 7.88 37.64C8.15 37.64 8.43 37.6 8.69 37.51L28.77 31.03C30.25 32.98 32.56 34.13 35.01 34.13C39.36 34.13 42.89 30.6 42.89 26.25C42.89 21.9 39.36 18.37 35.01 18.37C30.75 18.37 27.27 21.77 27.15 26.02L10.51 31.39V15.28C13.65 14.17 15.75 11.2 15.76 7.87C15.75 3.53 12.23 0 7.88 0Z" fill="#252532" />
                            <path d="M62.1399 87.5199C66.4899 87.5199 70.0199 83.9899 70.0199 79.6399C70.0199 76.3099 67.9099 73.3399 64.7699 72.2299V52.5099C64.7699 51.0599 63.5899 49.8799 62.1399 49.8799C61.8699 49.8799 61.5899 49.9199 61.3299 50.0099L41.2499 56.4899C39.7699 54.5399 37.4599 53.3899 35.0099 53.3899C30.6599 53.3899 27.1299 56.9199 27.1299 61.2699C27.1299 65.6199 30.6599 69.1499 35.0099 69.1499C39.2699 69.1499 42.7499 65.7499 42.8699 61.4999L59.5099 56.1299V72.2499C56.3699 73.3599 54.2699 76.3299 54.2599 79.6599C54.2599 84.0099 57.7899 87.5399 62.1399 87.5399V87.5199Z" fill="#252532" />
                            <path d="M62.14 0C57.79 0 54.26 3.53 54.26 7.88C54.26 11.22 56.37 14.19 59.51 15.3V33.1L7.07 50.01C5.99 50.36 5.25 51.37 5.25 52.51V72.22C2.1 73.33 0 76.3 0 79.64C0 83.99 3.53 87.52 7.88 87.52C12.23 87.52 15.76 83.99 15.76 79.64C15.76 76.3 13.66 73.33 10.51 72.22V54.43L62.95 37.51C64.03 37.16 64.77 36.15 64.77 35.02V15.3C67.91 14.19 70.02 11.22 70.02 7.88C70.02 3.53 66.49 0 62.14 0Z" fill="#252532" />
                        </g>
                        <defs>
                            <clipPath id="clip0_1324_41">
                                <rect width="314.27" height="87.52" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                }
            </div>
            <div>
                <RadzenButton 
                Icon="@(isDark ? "dark_mode" : "light_mode")" 
                class="theme-button"
                Click="@ToggleTheme" 
                Size="ButtonSize.Small"
                Title="Toggle theme"
                />
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="@SidebarStyle">
        <RadzenStack Orientation="Orientation.Vertical" Style="height:100%;">
            <RadzenRow>
                <RadzenColumn Style="height:100%;">
                    <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
                        <div style="display: flex; justify-content:flex-end; margin-bottom:13px;">
                            <RadzenButton Click="@sidebarToggle" class="sidebar-toggle-button" Style="@(sidebarExpanded ? "rotate: 0deg;" : "rotate: 180deg;")">
                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.5 19.0312C15.5 19.5318 15.9057 19.9375 16.4062 19.9375C16.9068 19.9375 17.3125 19.5318 17.3125 19.0312V1.96875C17.3125 1.46824 16.9068 1.0625 16.4062 1.0625C15.9057 1.0625 15.5 1.46824 15.5 1.96875L15.5 19.0312ZM12.4688 11.4063C12.9693 11.4063 13.375 11.0005 13.375 10.5C13.375 9.99949 12.9693 9.59375 12.4688 9.59375L5.46913 9.59375L7.85957 7.20332C8.21348 6.8494 8.21348 6.2756 7.85957 5.92168C7.50565 5.56777 6.93185 5.56777 6.57793 5.92168L2.64043 9.85918C2.28652 10.2131 2.28652 10.7869 2.64043 11.1408L6.57793 15.0783C6.93185 15.4322 7.50565 15.4322 7.85957 15.0783C8.21348 14.7244 8.21348 14.1506 7.85957 13.7967L5.46913 11.4063L12.4688 11.4063Z" fill="white" stroke="white" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </RadzenButton>
                        </div>
                        <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions() { Text = "Home", Position = TooltipPosition.Right }) )" />
                        <RadzenPanelMenuItem Text="Graph" Icon="monitoring" Path="/graph" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions() { Text = "Counter", Position = TooltipPosition.Right }) )" />
                        <RadzenPanelMenuItem Text="Configs" Icon="manufacturing" Path="/configs" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions() { Text = "Configs", Position = TooltipPosition.Right }) )" />
                        <RadzenPanelMenuItem Text="Cloud" Icon="cloud" Path="/hiocloud" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions() { Text = "Cloud", Position = TooltipPosition.Right }) )" />
                        <RadzenPanelMenuItem Text="ThingsBoard" Icon="table" Path="/thingsboard" MouseEnter="@(args => ShowTooltip(args, new TooltipOptions() { Text = "ThingsBoard", Position = TooltipPosition.Right }) )" />
                    </RadzenPanelMenu>
                </RadzenColumn>
            </RadzenRow>
            @if (sidebarExpanded)
            {
                <RadzenRow Style="height:100%;">
                    <RadzenColumn Style="height:100%;">
                        <RadzenStack Style="height: 100%;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center">
                            <RadzenText class="version-text" Text="@GetVersion()" />
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
            }
        </RadzenStack>
    </RadzenSidebar>
    <RadzenBody Style="padding:0px;">
        @Body
    </RadzenBody>
    <RadzenFooter>
        <Footer @ref=footerRef />
    </RadzenFooter>
</RadzenLayout>

<RadzenComponents />

@code {
    bool sidebarExpanded = true;
    Footer? footerRef;

    bool isDark = true;

    private string SidebarStyle =>
    $"width: max-content; height: 100%; background-color: {(isDark ? "#252532" : "#3C3B49")}; " +
    $"border-top-right-radius: 10px; padding-top: 8px; padding-bottom: 16px;";

    protected override void OnInitialized()
    {
        ThemeService.SetTheme("material-dark");
    }

    protected override async Task OnParametersSetAsync()
    {
        await JSRuntime.InvokeVoidAsync("toggleThemeStyleSheet", isDark);
        ConsoleService.LoadCommandsFromStatic();
        AppService.RegisterHioCloudDefaultLogin();
    }

    private async Task ToggleTheme()
    {
        isDark = !isDark;
        var newTheme = isDark ? "material-dark" : "material";
        ThemeService.SetTheme(newTheme);
        await JSRuntime.InvokeVoidAsync("toggleThemeStyleSheet", isDark);
        StateHasChanged();
    }

    public string GetVersion()
    {
        return $"Version: {MainDataContext.Config.AppVersion}";
    }

    private async Task sidebarToggle()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    void ShowTooltip(ElementReference elementReference, TooltipOptions options = null)
    {
        if (!sidebarExpanded)
        {
            TooltipService.Open(elementReference, options.Text, options);
        }
    }
}